@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    color: white;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-text {
    background: linear-gradient(270deg, #0000FF, #0000FF, #FFFF00, #800080, #800080);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientBackground 5s ease infinite;
}
