@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    color: white;
}

@keyframes gradientBackground {
    0% {
        background-position: 25%;
    }
    /*25% {*/
    /*    background-position: 50% 100%;*/
    /*}*/
    50% {
        background-position: 25% 75%;
    }
    100% {
        background-position: 75% 100%;
    }
}

.gradient-text {
    background: linear-gradient(270deg, #FFFF00, #FF00FF, #FFFF00, #FF00FF);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientBackground 5s forwards infinite;
}